{% extends 'marpetapp/base.html' %}
{% load static %}

{% block content1 %}
<div class="container-fluid mt-3" style='padding-top:100px;padding-bottom:100px' >

       <div class="container mt-3">
            <div class="mt-4 p-5 bg-primary text-white rounded" >
              <h1> About Us </h1>
            </div>
      </div>






<div class="container p-5 my-5 border container-sm text-black">

      <div class="row">

                <div class="col-sm-4"> <img src="{% static 'images/MCVLOGO.jpg' %}" alt="Avatar Logo"  style='width:400px;height:400px;padding-right:50px;'> </div>

                <div class="col-sm-8" style='text-align:jutify-center;padding-left:50px;'>



                    <h2> Marpet CAD Ventures provides the following services: </h2>
                        <ul>
                           <h4><li> Mechanical Design/Drawings</li></h4>
                           <h4> <li> Civil Design/Drawings</li></h4>
                           <h4> <li> Electrical Design/Drawings</li></h4>
                          <h4><li> AutoCAD/Solidworks Training</li></h4>
                           <h4> <li> Full Stack Web Development Training( HTML,CSS Javascript,Python,django,Postgres and MySQL databases)</li></h3>
                        </ul>



                  <h4>
                    Marpet CAD Ventures is the brain child of Engineer Peter Modo.
                    He has a master degree in Mechanical Engineering and is passionate about Engineering design
                    using CAD softwares like AutoCAD and Solidworks.
                    Driven by a strong desire to learn more, he has learnt Web development using Python Programming
                    Language and Django web framework.This website is a demonstration of his web development skills.
                  </h4>

                   <br>
                   <br>
                    <br>
                   <h4>Peter Modo</h4>
                   <h4>CEO Marpet CAD Ventures</h4>
                   </div>
        </div>


    </div>

{% endblock %}
