{% extends 'marpetapp/base.html' %}


{% block content1 %}


<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">

   {% if mech_unit %}
    <div class="carousel-item active">

      <img src="{{mech_unit.cad_image.url}}" alt="Los Angeles" class="d-block" style="width:100%;height:1000px;" >
      <div class="carousel-caption">
        <h3 >{{mech_unit.heading}}</h3>
        <p >{{mech_unit.short_paragraph}}</p>
      </div>

      </div>
      {% endif %}




    <div class="carousel-item">
      {% if civil_unit %}
      <img src="{{civil_unit.cad_image.url}}" alt="Chicago" class="d-block" style="width:100%;height:1000px;">
      <div class="carousel-caption">
        <h3>{{civil_unit.heading}}</h3>
        <p>{{civil_unit.short_paragraph}}</p>
      </div>
      {% endif %}
    </div>


    <div class="carousel-item">
      {% if elect_unit %}
      <img src="{{elect_unit.cad_image.url}}" alt="New York" class="d-block" style="width:100%;height:1000px;">
      <div class="carousel-caption">
        <h3 style='color:white;'>{{elect_unit.heading}}</h3>
        <p style='color:white;'>{{elect_unit.short_paragraph}}</p>
      </div>
        {% endif %}
    </div>


    <div class="carousel-item">
      {% if train_unit  %}
      <img src="{{train_unit.cad_image.url}}" alt="New York" class="d-block" style="width:100%;height:1000px;">
      <div class="carousel-caption">
        <h3>{{train_unit.heading}}</h3>
        <p>{{train_unit.short_paragraph}}</p>
      </div>
      {% endif %}
    </div>


</div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>






{# ////////////////// #}
<div class="container p-5 my-5 bg-primary border text-black container-sm mech">

      <div class="row">
         {% if mech_unit %}
        <div class="col-sm-4"><img class="img-fluid"  src="{{mech_unit.cad_image.url}}" alt="">  </div>
         {% endif %}
        <div class="col-sm-4">
          <h1>Mechanical Drawings</h1>
           <p>We produce precise drawings of Mechanical Components!</p>
           <a href="{% url 'mechlist' %}"  class="btn btn-info" >Browse Gallery</a>
         </div>

      </div>






</div>

<div class="container p-5 my-5  bg-dark text-black container-sm civil"'> 
  <div class="row">
    {% if civil_unit %}
    <div class="col-sm-4"><img class="img-fluid"  src="{{civil_unit.cad_image.url}}" alt="">  </div>
    {% endif %}
    <div class="col-sm-4">
      <h1>Civil Drawings</h1>
       <p>Making Floor Plan,Elevation and 3D Model of buildings is our expertise!</p>
       <a href="{% url 'civillist' %}"  class="btn btn-info" >Browse Gallery</a>

     </div>
  </div>

</div>

<div class="container p-5 my-5 bg-primary text-black container-sm elect">

  <div class="row">
    {% if elect_unit %}
    <div class="col-sm-4"><img class="img-fluid"  src="{{elect_unit.cad_image.url}}" alt="">  </div>
    {% endif %}
    <div class="col-sm-4">
      <h1>Electrical Drawings</h1>
       <p >We pride ourself in making SLD and Electrical Schematic and diagram!</p>
       <a href="{% url 'electlist' %}"  class="btn btn-info" >Browse Gallery</a>
     </div>
  </div>

</div>

<div class="container p-5 my-5  bg-dark text-black container-sm train"  >

  <div class="row">
    {% if train_unit %}
    <div class="col-sm-4"><img class="img-fluid"  src="{{train_unit.cad_image.url}}" alt="">  </div>
     {% endif %}
    <div class="col-sm-8" >
           <h1>Training</h1>
          <p>We provide AutoCAD Training in an efficient manner!</p>
          <a href="{% url 'trainlist' %}"  class="btn btn-info" >Browse Gallery</a>
        </div>
  </div>

</div>

{% endblock %}
